{{define "content"}}
   <div class="container">
   <!-- Outer Row -->
   <div class="row justify-content-center">
   <div class="col-xl-10 col-lg-12 col-md-9">
      <div class="card o-hidden border-0 shadow-lg my-5">
         <!-- Nested Row within Card Body -->
         <div class="p-5">
            <div class="text-center">
               <h1 class="h4 text-gray-900 mb-4">{{ .Title}}</h1>
            </div>
            <form enctype="multipart/form-data" action={{ .Url}} method="post">

               <div class="custom-file mb-3">
                  <input type="file" class="custom-file-input" id="uploadfile" name="uploadfile">
                  <label class="custom-file-label" for="uploadfile">Choose workflow</label>
               </div>

               <div class="custom-file mb-3">
                  <input type="file" class="custom-file-input" id="uploadconf" name="uploadconf">
                  <label class="custom-file-label" for="uploadconf">Choose configuration</label>
               </div>
             
               <input type="submit" value="upload" class="btn btn-primary"/>
            </form>
         </div>
      </div>
   </div>
   </div>
</div>

<script>
// Add the following code if you want the name of the file appear on select
$(".custom-file-input").on("change", function() {
  var fileName = $(this).val().split("\\").pop();
  $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
});
</script>


{{end}}

 